.container {
  display: grid;
  font-family: sans-serif; }
  .container h2 {
    font-family: Impact;
    color: #63A355; }
  .container hr {
    color: #ff8000; }
  .container span {
    color: #ffcc00; }
  .container .sun {
    font-size: 50px; }
  .container img {
    width: 250px;
    height: 250px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
  .container h3 {
    font-family: Impact;
    color: #63A355; }

table td {
  border: 1px solid #48A3A7; }
table th {
  border: 1px solid #48A3A7; }

.grafica img {
  display: block;
  margin: auto;
  height: 450px;
  width: 800px; }

.column-1 {
  width: 6em; }

.column-2 {
  width: 7em; }

.column-3 {
  width: 8em; }

.column-4 {
  width: 9em; }

.column-5 {
  width: 10em; }

.column-1 {
  background-color: #31ad00; }

.column-2 {
  background-color: #62ff00; }

.column-3 {
  background-color: #93ff00; }

.column-4 {
  background-color: #c4ff00; }

.column-5 {
  background-color: #f5ff00; }

.cajas {
  align-self: center;
  justify-self: center; }
  .cajas .box-small {
    width: 100px;
    height: 100px;
    background-color: #48A3A7;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    float: left;
    margin: 10px;
    padding: 2px;
    text-align: center; }
  .cajas .p-small {
    font-size: 17px;
    font-family: Impact; }
  .cajas .box-medium {
    width: 200px;
    height: 200px;
    background-color: #48A3A7;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    float: left;
    margin: 10px;
    padding: 2px;
    text-align: center; }
  .cajas .p-medium {
    font-size: 34px;
    font-family: Impact; }
  .cajas .box-large {
    width: 300px;
    height: 300px;
    background-color: #48A3A7;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    float: left;
    margin: 10px;
    padding: 2px;
    text-align: center; }
  .cajas .p-large {
    font-size: 51px;
    font-family: Impact; }

.barras {
  align-self: center;
  justify-self: center; }
  .barras .barra-1 {
    width: 10em;
    background-color: #63A355;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
  .barras .barra-2 {
    width: 20em;
    background-color: #63A355;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
  .barras .barra-3 {
    width: 30em;
    background-color: #63A355;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
  .barras .barra-4 {
    width: 40em;
    background-color: #63A355;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
  .barras .barra-5 {
    width: 50em;
    background-color: #63A355;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }

.cuadrado {
  align-self: center;
  justify-self: center; }
  .cuadrado .cuadrado-1 {
    width: 50em;
    background-color: #ffcc00;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
  .cuadrado .cuadrado-2 {
    width: 25em;
    background-color: #ffcc00;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
  .cuadrado .cuadrado-3 {
    width: 16.6666666667em;
    background-color: #ffcc00;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
  .cuadrado .cuadrado-4 {
    width: 12.5em;
    background-color: #ffcc00;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
  .cuadrado .cuadrado-5 {
    width: 10em;
    background-color: #ffcc00;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }

/*# sourceMappingURL=style.css.map */
