
@mixin tamanio($size){
    width: $size;
    height: $size;
}

@mixin border-radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin tablas($border) {
    border:$border;
}

@mixin tamanio_altura_ancho($height, $width){
    height: $height;
    width: $width;
}
@mixin crea-caja($color: #26619C, $name: lapislazuli) {
    .box-#{$name} {
      box-sizing: border-box;
      background-color: $color;
      width: 100%;
      height: 100px;
      padding: 20px;
      &:hover{
        cursor: pointer;
      }
    }
  }