
@mixin tamanio($size){
    width: $size;
    height: $size;
}

@mixin border-radius($radius){
    border-radius: $radius;
}
@mixin tablas($border) {
    border:$border;
}

@mixin tamanio_altura_ancho($height, $width){
    height: $height;
    width: $width;
}

@mixin color($color){
  color: $color;
}

@mixin texto-imagen{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}