@import "mixins.scss";
//Variables
$colorPlt1: #63A355;
$colorPlt2: #48A3A7;
$colorPlt3: #ffcc00;
$fuenteTitulo: Impact;
$fuenteLetras: sans-serif;
$sizes: small, medium, large;
$tamanio:50px;

//Funciones
@function multiplicar($cantidad,$cantidad2){
    @return $cantidad*$cantidad2;
}
@function dividir($cantidad, $cantidad2){
    @return $cantidad/$cantidad2;
}
@function multiplicar_tamanio_letra($multiplicado_por){
    @return 20px*$multiplicado_por;
}


//Bucles
@for $i from 1 through 5 {
	.column-#{$i} { width: 5em + $i; }
}
@for $i from 1 through 5 {
	.column-#{$i} { background-color:#31ad00 *$i; }
}

//Selecctores con bucles e includes

.container{
    display: grid;
    font-family: $fuenteLetras;
    h2{
        font-family: $fuenteTitulo;
        color:$colorPlt1;
    }
    hr{
        color:red+green;
    }
    span{
        color:$colorPlt3;
    }
    .sun{
        font-size: $tamanio;
    }

    img{
        @include tamanio(250px);
        @include border-radius(5px);
    }
    h3{
        font-family: $fuenteTitulo;
        color:$colorPlt1;
    }
    
}
table{
    td{
        @include tablas(1px solid $colorPlt2);
    }
    th{
        @include tablas(1px solid $colorPlt2);
    }
}

.grafica{
    img{
        display: block;
        margin: auto;
        @include tamanio_altura_ancho(450px, 800px);
    }
}

.cajas{
    align-self: center;
    justify-self: center;
    @each $size in $sizes {
        .box-#{$size} {
        
          width: 100px * index($sizes, $size);
          height: 100px * index($sizes, $size);
          background-color: $colorPlt2;
          color: white;
          @include border-radius(5px);
          float: left;
          margin: 10px;
          padding: 2px;
          text-align: center;
        }
        .p-#{$size}{
            font-size: 17px * index($sizes, $size);
            font-family: $fuenteTitulo;
        }
    }

}
.fotos{
    align-self: center;
    justify-self: center;
}
.fotos_{

    @extend .fotos;
    padding: 10px;
    position: relative;
    display: inline-block;
    text-align: center;
    img{
        filter:brightness(50%);
    }
    .texto_imagen{
        @include texto-imagen;
        @include color(white);
        font-size: multiplicar_tamanio_letra(2);
        font-weight: bold;
        
    }

}
  




.barras{
    align-self: center;
    justify-self: center;
    $i: 1;
    @while $i <= 5 {
        .barra-#{$i} { 
            width: multiplicar(10em, $i); 
            background-color: $colorPlt1;
            @include border-radius(5px);
        }
        $i: $i + 1;
    }
    p{
        padding: 10px;
    }
    font-weight: bold;
    @include color(white);
}

.cuadrado{
    align-self: center;
    justify-self: center;
    @for $i from 1 through 5 {
        .cuadrado-#{$i} { 
            width: dividir(50em, $i); 
            background-color: $colorPlt2;
            @include border-radius(5px);
            font-weight: bold;
        }
        
    }
    p{
        padding: 10px;
    }
    @include color(white);
  
}





//6 variables /hecho
//6 selectores /hecho
//4 operaciones //hecho
//4 funciones//1
//6 mixins//hecho
//4 bucles/hecho
//2 includes //hecho